{% extends 'adminlte/base.html' %}
{% block content %}
    <h1>PÁGINA DE LISTAGEM DE AVALIAÇÕES</h1>
    <a class="btn btn-primary" href="{% url 'Avaliação_Física' %}"><i class="fa fa-plus"></i> CADASTRAR</a>

    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NOME</th>
            <th>DATA DA AVALIAÇÃO</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
    {% for obj_avaliacao in object_list %}
            <tr>
                <td>{{obj_avaliacao.pk}}</td>
                <td>{{obj_avaliacao.nome}}</td>
                <td>{{obj_avaliacao.data_da_avaliacao}}</td>
                <td><a href="{% url 'Atualizar_Aluno' obj_avaliacao.pk %}"><i class="fa fa-edit" rel="tooltip" title="ATUALIZAR"></i> </a>
                <td><a href="{% url 'Atualizar_obs_aluno' obj_avaliacao.pk %}"><i class="fa fa-comment" rel="tooltip" title="ATUALIZAR OBSERVAÇÃO"></i> </a>
            </tr>
    {% empty %}
        <h3>DESCULPE, VOCÊ AINDA NÃO POSSUI ALUNOS CADASTRADOS EM SEU SISTEMA.
            <br/>(–_–)</h3>
    {% endfor %}
        </tbody>
    </table>

     {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn btn-default" href="?page=1">&laquo; Primeira Página </a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i> Página Anterior </a>
                {% endif %}

                <span class="current">
                    | Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}. |
                </span>

                {% if page_obj.has_next %}
                    <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Próxima Página <i class="fa fa-arrow-right"></i></a>
                    <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}">| Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}